{
    "compiler": "component",
    "name": "numbertochinese",
    "version": "0.0.2",
    "dependencies": {},
    "alias": {},
    "export": [],
    "author": "kylin.zhao",
    "email": "kylin.zhao@qunar.com",
    "description": "transfer number to Chinese",
    "repository": "git+https://github.com/kylinzhao/numbertochinese.git"
}
